@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Space+Grotesque:wght@500;700&family=JetBrains+Mono:wght@400;500&display=swap");

:root {
  --font-sans: "Inter", sans-serif;
  --font-display: "Space Grotesque", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}
